# PigEBank_Splitting Data by Current/Former Clients, and Calculating Summary Stats

# Table of Contents

##### 1. Import libraries and data
##### 2. 2. Check shape and structure of data
##### 3. Split data into current and former client groups
    3.1 Current clients
    3.2 Former clients
##### 4. Basic statistics on each group
    4.1 Current Clients
    4.2 Former Clients
    4.3 All Clients
##### 5. Export data

## 1. Import libraries and data

In [4]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Import data

# Set path
path = r'C:\Users\ashle\Documents\08-2024 Pig E. Bank Analysis'

# Import data
bank = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'PigEBank_cleaned.csv'), index_col = False)

## 2. Check shape and structure of data

In [7]:
bank.shape

(979, 13)

In [8]:
bank.head()

,Customer_ID,Last_Name,Credit Score,Country,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard?,IsActiveMember,Estimated Salary,ExitedFromBank?
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,True,True,101348.88,True
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,False,True,112542.58,False
2,15619304,Onio,502,France,Female,42,8,159660.80,3,True,False,113931.57,True
3,15701354,Boni,699,France,Female,39,1,0.00,2,False,False,93826.63,False
4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,True,True,79084.10,False

## 3. Split data into current and former client groups

### 3.1 Current clients

In [11]:
# Create subset for current clients
current_clients = bank[bank['ExitedFromBank?'] == False]

### 3.2 Former clients

In [13]:
# Create subset for former clients (ie clients who have left the bank)
former_clients = bank[bank['ExitedFromBank?'] == True]

## 4. Basic statistics on each group

### 4.1 Current Clients

In [16]:
current_clients.describe()

,Customer_ID,Credit Score,Age,Tenure,Balance,NumOfProducts,Estimated Salary
count,7.760000e+02,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000
mean,1.569267e+07,651.478093,37.507732,5.179124,75013.781572,1.536082,99470.467041
std,7.216394e+04,97.232794,9.866591,2.926652,62850.595116,0.511783,56665.945020
min,1.556609e+07,411.000000,18.000000,0.000000,0.000000,1.000000,371.050000
25%,1.563149e+07,583.000000,31.000000,3.000000,0.000000,1.000000,53004.630000
50%,1.569272e+07,657.000000,36.000000,5.000000,93708.575000,2.000000,98621.608497
75%,1.575409e+07,722.250000,42.000000,8.000000,127871.442500,2.000000,146359.295000
max,1.581536e+07,850.000000,82.000000,10.000000,197041.800000,3.000000,199661.500000

In [17]:
current_clients['Credit Score'].mode()

0    850
Name: Credit Score, dtype: int64

In [18]:
current_clients['Country'].mode()

0    France
Name: Country, dtype: object

In [19]:
current_clients['Gender'].mode()

0    Male
Name: Gender, dtype: object

In [20]:
current_clients['Age'].mode()

0    36
Name: Age, dtype: int64

In [21]:
current_clients['Tenure'].mode()

0    8
Name: Tenure, dtype: int64

In [22]:
current_clients['NumOfProducts'].mode()

0    2
Name: NumOfProducts, dtype: int64

In [23]:
current_clients['HasCrCard?'].mode()

0    True
Name: HasCrCard?, dtype: bool

In [24]:
current_clients['IsActiveMember'].mode()

0    True
Name: IsActiveMember, dtype: bool

In [25]:
current_clients['Balance'].mode()

0    0.0
Name: Balance, dtype: float64

In [26]:
current_clients['Estimated Salary'].mode()

0    98596.996994
Name: Estimated Salary, dtype: float64

In [27]:
current_clients.shape

(776, 13)

### 4.2 Former Clients

In [29]:
former_clients.describe()

,Customer_ID,Credit Score,Age,Tenure,Balance,NumOfProducts,Estimated Salary
count,2.030000e+02,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000
mean,1.569065e+07,636.502463,45.241379,4.724138,90257.118966,1.453202,97551.785369
std,7.264750e+04,99.870529,9.568713,2.920186,61503.206675,0.758795,59413.612107
min,1.556875e+07,376.000000,22.000000,0.000000,0.000000,1.000000,417.410000
25%,1.562815e+07,561.500000,39.000000,2.000000,0.000000,1.000000,45947.585000
50%,1.569275e+07,643.000000,45.000000,5.000000,112822.260000,1.000000,101300.940000
75%,1.575271e+07,714.500000,51.000000,7.000000,133724.165000,2.000000,148779.825000
max,1.581176e+07,850.000000,69.000000,10.000000,213146.200000,4.000000,199725.390000

In [30]:
former_clients['Credit Score'].mode()

0    643
1    648
2    667
3    683
4    750
5    850
Name: Credit Score, dtype: int64

In [31]:
former_clients['Country'].mode()

0    France
Name: Country, dtype: object

In [32]:
former_clients['Gender'].mode()

0    Female
Name: Gender, dtype: object

In [33]:
former_clients['Age'].mode()

0    39
Name: Age, dtype: int64

In [34]:
former_clients['Tenure'].mode()

0    1
Name: Tenure, dtype: int64

In [35]:
former_clients['Balance'].mode()

0    0.0
Name: Balance, dtype: float64

In [36]:
former_clients['NumOfProducts'].mode()

0    1
Name: NumOfProducts, dtype: int64

In [37]:
former_clients['HasCrCard?'].mode()

0    True
Name: HasCrCard?, dtype: bool

In [38]:
former_clients['IsActiveMember'].mode()

0    False
Name: IsActiveMember, dtype: bool

In [39]:
former_clients['Estimated Salary'].mode()

0         417.41
1        1643.11
2        2079.20
3        2319.96
4        4861.72
         ...
198    194998.34
199    195635.30
200    199273.98
201    199304.74
202    199725.39
Name: Estimated Salary, Length: 203, dtype: float64

In [40]:
former_clients.shape

(203, 13)

### 4.3 All Clients

In [42]:
bank.describe()

,Customer_ID,Credit Score,Age,Tenure,Balance,NumOfProducts,Estimated Salary
count,9.790000e+02,979.000000,979.000000,979.000000,979.000000,979.000000,979.000000
mean,1.569225e+07,648.372829,39.111338,5.084780,78174.555312,1.518897,99072.619871
std,7.223189e+04,97.922578,10.290507,2.929639,62847.279285,0.572370,57220.874890
min,1.556609e+07,376.000000,18.000000,0.000000,0.000000,1.000000,371.050000
25%,1.563019e+07,579.500000,32.000000,2.000000,0.000000,1.000000,50090.645000
50%,1.569275e+07,653.000000,37.000000,5.000000,99027.610000,1.000000,98820.390000
75%,1.575396e+07,721.000000,44.000000,8.000000,129500.955000,2.000000,146856.220000
max,1.581536e+07,850.000000,82.000000,10.000000,213146.200000,4.000000,199725.390000

In [43]:
bank['Credit Score'].mode()

0    850
Name: Credit Score, dtype: int64

In [44]:
bank['Country'].mode()

0    France
Name: Country, dtype: object

In [45]:
bank['Gender'].mode()

0    Male
Name: Gender, dtype: object

In [46]:
bank['Age'].mode()

0    36
Name: Age, dtype: int64

In [47]:
bank['Tenure'].mode()

0    2
1    8
2    9
Name: Tenure, dtype: int64

In [48]:
bank['Balance'].mode()

0    0.0
Name: Balance, dtype: float64

In [49]:
bank['NumOfProducts'].mode()

0    1
Name: NumOfProducts, dtype: int64

In [50]:
bank['HasCrCard?'].mode()

0    True
Name: HasCrCard?, dtype: bool

In [51]:
bank['IsActiveMember'].mode()

0    True
Name: IsActiveMember, dtype: bool

In [52]:
bank['Estimated Salary'].mode()

0    98596.996994
Name: Estimated Salary, dtype: float64

In [53]:
bank.shape

(979, 13)

## 5. Export data

In [55]:
# Export data

bank.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'PigEBank_cleaned_all.csv'), index=False)
current_clients.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'PigEBank_cleaned_current.csv'), index=False)
former_clients.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'PigEBank_cleaned_former.csv'), index=False)